body{
  font-family: "sofia",sans-serif;  
  background-repeat: no-repeat;
  background-size: cover;
}
h1{
  font-size:80px;    
}
input{
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 3%;
  padding-bottom:3%;  
  border-radius:10px;
  margin-right:3%
}

.app-body{  
  height: 70vh;
  margin: 0;  
}

.container{
  background-color:black;
  opacity: 0.85;
  padding: 2em;
  border-radius: 30px;
  width: 100%;
  /* max-width: 420px; */
  margin: 1em;
  color:white;
}

 /* .display{
  visibility: hidden;
  max-height: 30px;
  margin: 0;
  margin: auto;
  max-width: 50%;
}
.display:after{
  visibility: visible;
  content: "Fetching weather....";
  color: white;
} */