body{
  font-family: "sofia",sans-serif;
  background-image: url(https://media.istockphoto.com/photos/branches-covered-with-ice-after-freezing-rain-sparkling-ice-covered-picture-id1289449088?b=1&k=20&m=1289449088&s=170667a&w=0&h=A3NqjfBFMq3UQDFcvEKoKfA9N6zJd-OJuIg05vFB4NM=);  
  background-repeat: no-repeat;
  background-size: cover;
  
}
.appname{
  font-size:80px; 
  color:black;
}
h1{
  font-size:80px
}

.container{  
  background:rgba(0,0,0,0.8);   
  padding: 2em;
  border-radius: 30px;
  width: 100%;  
  margin: 1em;
  color:white;
}

input{
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 1%;
  padding-bottom:1%;  
  border-radius:10px;
  margin-right:3%
}

.fullWeekDetails{
  background:rgba(0,0,0,0.8);
  color:white;
  padding:25px;
  position:fixed;
  bottom:0;
  width:100%;  
}

.daily{
  border: 1px solid white;
  border-radius:5px
}

/* 
 .display{
  visibility: hidden;
  max-height: 30px;
  margin: 0;
  margin: auto;
  max-width: 50%;
}
.display:after{
  visibility: visible;
  content: "Fetching weather....";
  color: white;
} */
/* 
.weather-details{
width: 30%;

}
.weather-message{
  width:70%;
  margin: 0;
  margin:auto;
  

} */