body{
  font-family: "sofia",sans-serif;
  background-image: url(https://media.istockphoto.com/photos/blue-sky-background-with-white-clouds-picture-id1327185011?b=1&k=20&m=1327185011&s=170667a&w=0&h=ru7L4HLxzKW_u1KC9CJlRotdtM5zJW_X6iPhudwvLK4=);
  background-repeat: no-repeat;
  background-size: cover;
}
h1{
  font-size:80px; 
   
}

.app-body{  
  height: 70vh;
  margin: 0;  
}

.container{
  background-color:black;
  opacity: 0.5;
  padding: 2em;
  border-radius: 30px;
  width: 100%;
  max-width: 420px;
  margin: 1em;
  color:white;
}