body {  
  background-image: url(https://media.istockphoto.com/photos/branches-covered-with-ice-after-freezing-rain-sparkling-ice-covered-picture-id1289449088?b=1&k=20&m=1289449088&s=170667a&w=0&h=A3NqjfBFMq3UQDFcvEKoKfA9N6zJd-OJuIg05vFB4NM=);
  background-repeat: no-repeat;
  background-size: cover;
  font-size:20px
}
.appname {
  font-size: 80px;
  color: black;
}
h1 {
  font-size: 50px;
}

.container {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 30px;
  width: 100%;
  margin: 1em;
  color: white;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70vh;
}
.dayDetails,
.input,
.display {
  width: 90%;
  margin: auto;
  margin-top: 0;
  margin-bottom:0  
}

.cityInput {
  width: 75%;
}
.button {
  width: 20%;
}

.fullWeekDetails {
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 25px;
  position: fixed;
  bottom: 0;
  width: 100%;
  overflow-y: scroll;
}
.today {
  width: 90%;
  margin: auto;
  border: 1px solid black;  
}

h4.day {
  padding: 5px 30px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  text-align: center;
}
 .display,.details{
  visibility: hidden; 
  margin: 0;
  margin: auto; 
}
.hideheight {  
  max-height: 300px;  
}